<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=WX, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/reg" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>

        <a><button type="submit">Submit</button></a>
      </form> 
</body>
</html>